<!DOCTYPE html>
<html>
<head>
  <title>BitcoInstant</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i|Roboto:400,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="./styles/style.css" type="text/css" />
</head>
<body id="homepage">

<h1 class="title">BitcoInstant</h1>
<h2 class="subtitle">Check the prices of your favourite currencies in real-time</h2>

<!-- <form action="/" method="POST">
  <select name="crypto">
    <option value="BTC">Bitcoin</option>
    <option value="ETH">Ethereum</option>
    <option value="LTC">Litecoins</option>
  </select>

  <select name="fiat">
    <option value="USD">US Dollars</option>
    <option value="CAD">Canadian Dollars</option>
    <option value="GBP">GB Pounds</option>
    <option value="EUR">EU Euros</option>
  </select>

  <button type="submit" name="button">CHECK VALUE</button>
</form> -->




<!-- ***** -->
<form action="/" method="POST">
<div class="form-row">

  <div class="col">
  <select name="crypto" class="form-control form-control-lg" class="form-crypto">
    <option value="BTC">Bitcoin</option>
    <option value="ETH">Ethereum</option>
    <option value="LTC">Litecoins</option>
  </select>
  </div>


  <div class="col">
  <select name="fiat" class="form-control form-control-lg" class="form-fiat">
    <option value="USD" >US Dollars</option>
    <option value="CAD">Canadian Dollars</option>
    <option value="GBP">GB Pounds</option>
    <option value="EUR">EU Euros</option>
  </select>
  </div>

  <div class="col">
  <button type="submit" name="button" class="btn btn-lg btn-primary" >CHECK VALUE</button>
  </div>

</div>
</form>



</body>
</html>